{% extends "base.html" %}

{% block title %}
    {{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            {% if user.is_authenticated %}
            <span class="white-text spacing">Hello, {{ user.username }}</span>
            {% endif %}

            <a href="{% url 'recipe_list' %}" class="white-text">Main Page</a>

            {% if user.is_authenticated %}
            <a href="{% url 'my_recipe_list' %}" class="white-text">My recipes</a>
            {% endif %}

            {% if user.is_authenticated and user == recipe_object.author %}
                <a href="{% url 'edit_recipe' recipe_object.id %}" class="white-text">Edit Recipe</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1 class="green-text">
            {{ recipe_object.title }}
        </h1>
        <p>{{ recipe_object.created_on|date:"M. d, Y" }}</p>
        <img src="{{ recipe_object.picture }}"/>
        <p> {{ recipe_object.description }} </p>
        <div>{{ recipe_object.rating }}</div>
        <h2>Ingredients</h2>
        <table>
            <thead class="table-header">
                <tr>
                    <th> Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
    </main>
{% endblock content %}
