{% extends "base.html" %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            {% if user.is_authenticated %}
            <span class="white-text spacing">Hello, {{ user.username }}</span>
            {% endif %}

            <a href="{% url 'recipe_list' %}" class="white-text">Main Page</a>

            {% if user.is_authenticated %}
                <a href="{% url 'my_recipe_list' %}" class="white-text">My recipes</a>
                <a href="{% url 'create_recipe' %}" class="white-text">Create a recipe</a>
                <a href="{% url 'user_logout' %}" class="white-text">Logout</a>
            {% else %}
                <a href="{% url 'signup' %}" class="white-text">Sign up</a>
                <a href="{% url 'user_login' %}" class="white-text">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1 class="green-text">Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="recipe-grid">
            {% for recipe in recipe_list %}
            <div>
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}" class="no-spacing">{{ recipe.title }}</a>
                </h3>
                <p>{{ recipe.created_on|date:"M. j, Y" }}</p>
                <img src="{{ recipe.picture|default:'https://via.placeholder.com/150' }}"/>
                <div>{{ recipe.rating }}</div>
            </div>
            {% empty %}
                <p>There are no recipes.</p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
