html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: forestgreen;
    padding: 10px;
}

.spacing {
    padding: 10px;
}

.no-spacing {
    padding: 0px;
}

a:hover {
    color: rgb(173, 44, 190);
    text-decoration: underline;
}

body{
    padding-left: 20px;
    padding-right : 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: orangered;
    padding: 16px;
    display: flex;
    align-items: center;
}

div {
    padding: 7px;
}

.white-text {
    color: white;
}

main{
    padding : 16px;
    margin-bottom: 25px;
    flex: 1 0 auto;
}

.green-text {
    color: darkgreen;
}

footer {
    padding: 20px;
    background-color: rgb(140, 211, 69);
    display: flex;
    align-items: center;
}

img{
    height: 250px;
    width: 250px;

    box-shadow: 3px 3px 3px 3px rgb(99, 121, 221);
}

nav {
    color: black;
    border-bottom: 1px;
    padding: 16px;
}

.recipe-grid {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    justify-items: center;
}

tr:nth-child(even) {
    background-color: gainsboro;
}

.table-header {
    background-color: rgb(239, 193, 114);
}
