{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/recipes.css' %}">
        <title>
            {% block title%} {% endblock title%}
        </title>
    </head>
    <body>
        {% block content %} {% endblock content %}
        <footer>
            <span class="spacing">Made with love by Scrumptious Recipes</span>
        </footer>
    </body>
</html>
